* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.headline {
    display: flex;
    justify-content:center;
    align-items: center;
    background-color:whitesmoke;
}

.wrapper {
    background-image:url(/assests/img/image/4k.jpg)
}

.wrapper > web {
    display: flex;
    justify-content:flex-end;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background:transparent;
}

.logo {
    cursor: pointer;
    margin-right:auto;
}

li,
a {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color:white;
}

nav ul li a {
    transition: all 0.3s ease 0s;
}

nav ul li {
    display: inline-block;
    padding: 0px 40px;
}

nav ul li a:hover {
    color:black;
    transition: all 0.3s ease 0s;
}


.wrapper {
    background: url('/assests/img/image\ 4k.jpg') no-repeat center center / cover;
    width: 100%;
    display: block;
    position: relative;
}

.content > h1 {
    display:flex;
    padding: 80px 5%;
    justify-content:center;
    color: #FFF;
}

.content > h2 { 
    display: flex;
    justify-content: center;
    color:white; 
}

.content > h3{
    margin-top:220px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    color:black;
}

.local {
    animation-name: colorChange;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes colorChange {
    0% {
        color: green;
    }

    25% {
        color: black;
    }

    50% {
        color: blue;
    }

    100% {
        color: red;
    }
}